'source.lua':
  'require resty.limit.traffic':
    'prefix':'require resty.limit.traffic'
    'body':'local traffic = require "resty.limit.traffic"'
  'combine':
    'prefix':'combine'
    'body':'combine'
