'source.lua':
  'new':
    'prefix':'new'
    'body':'obj, err = class.new(shdict_name, count, time_window)'
  'incoming':
    'prefix':'incoming'
    'body':'delay, err = obj:incoming(key, commit)'
  'uncommit':
    'prefix':'uncommit'
    'body':'remaining, err = obj:uncommit(key)'
