'source.lua':
  'require resty.lrucache':
    'prefix':'require resty.lrucache'
    'body':'local lrucache = require "resty.lrucache"'
  'lrucache.new':
    'prefix':'lrucache.new'
    'body':': cache, err = lrucache.new(max_items [, load_factor])'
  'set':
    'prefix':'set'
    'body':': cache:set(key, value, ttl)'
  'cache:get':
    'prefix':'cache:get'
    'body':': data, stale_data = cache:get(key)'
  'delete':
    'prefix':'delete'
    'body':': cache:delete(key)'
