'source.lua':
  'new'
    'prefix':'new'
    'body':'obj, err = class.new(nodes)'
  'reinit'
    'prefix':'reinit'
    'body':'obj:reinit(nodes)'
  'set'
    'prefix':'set'
    'body':'obj:set(id, weight)'
  'delete'
    'prefix':'delete'
    'body':'obj:delete(id)'
  'incr'
    'prefix':'incr'
    'body':'obj:incr(id, weight?)'
  'decr'
    'prefix':'decr'
    'body':'obj:decr(id, weight?)'
  'find'
    'prefix':'find'
    'body':'id, index = obj:find(key)'
  'next'
    'prefix':'next'
    'body':'id, new_index = obj:next(old_index)'
