'source.lua':
  'require upstream.nginx.module':
    'prefix':'require upstream.nginx.module'
    'body':'local module = require "upstream.nginx.module"'
  'upstream.get_upstreams':
    'prefix':'upstream.get_upstreams'
    'body':': names = upstream.get_upstreams()'
  'upstream.get_servers':
    'prefix':'upstream.get_servers'
    'body':': servers = upstream.get_servers(upstream_name)'
  'upstream.get_primary_peers':
    'prefix':'upstream.get_primary_peers'
    'body':': peers = upstream.get_primary_peers(upstream_name)'
  'upstream.get_backup_peers':
    'prefix':'upstream.get_backup_peers'
    'body':': peers = upstream.get_backup_peers(upstream_name)'
  'upstream.set_peer_down':
    'prefix':'upstream.set_peer_down'
    'body':': ok, err = upstream.set_peer_down(upstream_name, is_backup, peer_id, down_value)'
  'upstream.current_upstream_name':
    'prefix':'upstream.current_upstream_name'
    'body':': name = upstream.current_upstream_name()'
