'source.lua':
  'new'
    'prefix':'new'
    'body':'new'
  'connect'
    'prefix':'connect'
    'body':'connect'
  'set'
    'prefix':'set'
    'body':'set'
  'set_timeout'
    'prefix':'set_timeout'
    'body':'set_timeout'
  'set_keepalive'
    'prefix':'set_keepalive'
    'body':'set_keepalive'
  'get_reused_times'
    'prefix':'get_reused_times'
    'body':'get_reused_times'
  'close'
    'prefix':'close'
    'body':'close'
  'add'
    'prefix':'add'
    'body':'add'
  'replace'
    'prefix':'replace'
    'body':'replace'
  'append'
    'prefix':'append'
    'body':'append'
  'prepend'
    'prefix':'prepend'
    'body':'prepend'
  'get'
    'prefix':'get'
    'body':'get'
  'gets'
    'prefix':'gets'
    'body':'gets'
  'cas'
    'prefix':'cas'
    'body':'cas'
  'touch'
    'prefix':'touch'
    'body':'touch'
  'flush_all'
    'prefix':'flush_all'
    'body':'flush_all'
  'delete'
    'prefix':'delete'
    'body':'delete'
  'incr'
    'prefix':'incr'
    'body':'incr'
  'decr'
    'prefix':'decr'
    'body':'decr'
  'stats'
    'prefix':'stats'
    'body':'stats'
  'version'
    'prefix':'version'
    'body':'version'
  'quit'
    'prefix':'quit'
    'body':'quit'
  'verbosity'
    'prefix':'verbosity'
    'body':'verbosity'
