'source.lua':
  'require resty.limit.req':
    'prefix':'require resty.limit.req'
    'body':'local req = require "resty.limit.req"'
  'new':
    'prefix':'new'
    'body':'new'
  'incoming':
    'prefix':'incoming'
    'body':'incoming'
  'set_rate':
    'prefix':'set_rate'
    'body':'set_rate'
  'set_burst':
    'prefix':'set_burst'
    'body':'set_burst'
  'uncommit':
    'prefix':'uncommit'
    'body':'uncommit'
