'source.lua':
  'new'
    'prefix':'new'
    'body':'new'
  'connect'
    'prefix':'connect'
    'body':'connect'
  'set_timeout'
    'prefix':'set_timeout'
    'body':'set_timeout'
  'set_keepalive'
    'prefix':'set_keepalive'
    'body':'set_keepalive'
  'get_reused_times'
    'prefix':'get_reused_times'
    'body':'get_reused_times'
  'close'
    'prefix':'close'
    'body':'close'
  'init_pipeline'
    'prefix':'init_pipeline'
    'body':'init_pipeline'
  'commit_pipeline'
    'prefix':'commit_pipeline'
    'body':'commit_pipeline'
  'cancel_pipeline'
    'prefix':'cancel_pipeline'
    'body':'cancel_pipeline'
  'hmset'
    'prefix':'hmset'
    'body':'hmset'
  'array_to_hash'
    'prefix':'array_to_hash'
    'body':'array_to_hash'
  'read_reply'
    'prefix':'read_reply'
    'body':'read_reply'
  'add_commands'
    'prefix':'add_commands'
    'body':'add_commands'
