'source.lua':
  'new':
    'prefix':'new'
    'body':'obj, err = class.new(shdict_name, rate, burst)'
  'incoming':
    'prefix':'incoming'
    'body':'delay, err = obj:incoming(key, commit)'
  'set_rate':
    'prefix':'set_rate'
    'body':'obj:set_rate(rate)'
  'set_burst':
    'prefix':'set_burst'
    'body':'obj:set_burst(burst)'
  'uncommit':
    'prefix':'uncommit'
    'body':'ok, err = obj:uncommit(key)'
