'source.lua':
  'require resty.limit.count':
    'prefix':'require resty.limit.count'
    'body':'local count = require "resty.limit.count"'
  'new':
    'prefix':'new'
    'body':'new'
  'incoming':
    'prefix':'incoming'
    'body':'incoming'
  'uncommit':
    'prefix':'uncommit'
    'body':'uncommit'
