'source.lua':
  'new':
    'prefix':'new'
    'body':'new'
  'query':
    'prefix':'query'
    'body':'query'
  'tcp_query':
    'prefix':'tcp_query'
    'body':'tcp_query'
  'set_timeout':
    'prefix':'set_timeout'
    'body':'set_timeout'
  'compress_ipv6_addr':
    'prefix':'compress_ipv6_addr'
    'body':'compress_ipv6_addr'
  'expand_ipv6_addr':
    'prefix':'expand_ipv6_addr'
    'body':'expand_ipv6_addr'
  'arpa_str':
    'prefix':'arpa_str'
    'body':'arpa_str'
  'reverse_query':
    'prefix':'reverse_query'
    'body':'reverse_query'
  'TYPE_A':
    'prefix':'TYPE_A'
    'body':'A1'
  'TYPE_NS':
    'prefix':'TYPE_NS'
    'body':'NS2'
  'TYPE_CNAME':
    'prefix':'TYPE_CNAME'
    'body':'CNAME5'
  'TYPE_SOA':
    'prefix':'TYPE_SOA'
    'body':'SOA6'
  'TYPE_PTR':
    'prefix':'TYPE_PTR'
    'body':'PTR12'
  'TYPE_MX':
    'prefix':'TYPE_MX'
    'body':'MX15'
  'TYPE_TXT':
    'prefix':'TYPE_TXT'
    'body':'TXT16'
  'TYPE_AAAA':
    'prefix':'TYPE_AAAA'
    'body':'TYPE_AAAA'
  'TYPE_SRV':
    'prefix':'TYPE_SRV'
    'body':'TYPE_SRV'
  'TYPE_SPF':
    'prefix':'TYPE_SPF'
    'body':'TYPE_SPF'
  'CLASS_IN':
    'prefix':'CLASS_IN'
    'body':'CLASS_IN'
  'SECTION_AN':
    'prefix':'SECTION_AN'
    'body':'SECTION_AN'
  'SECTION_NS':
    'prefix':'SECTION_NS'
    'body':'SECTION_NS'
  'SECTION_AR':
    'prefix':'SECTION_AR'
    'body':'SECTION_AR'
