'source.lua':
  'require resty.upstream.healthcheck':
    'prefix':'require resty.upstream.healthcheck'
    'body':'local healthcheck = require "resty.upstream.healthcheck"'
  'spawn_checker':
    'prefix':'spawn_checker'
    'body':'spawn_checker'
  'status_page':
    'prefix':'status_page'
    'body':'status_page'
