'source.lua':
  'require resty.dns':
    'prefix':'require resty.dns'
    'body':'local dns = require "resty.dns"'
  'class:new':
    'prefix':'class:new'
    'body':': r, err = class:new(opts)'
  'r:query':
    'prefix':'r:query'
    'body':': answers, err, tries? = r:query(name, options?, tries?)'
  'r:tcp_query':
    'prefix':'r:tcp_query'
    'body':': answers, err = r:tcp_query(name, options?)'
  'set_timeout':
    'prefix':'set_timeout'
    'body':': r:set_timeout(time)'
  'resty.dns.resolver.compress_ipv6_addr':
    'prefix':'resty.dns.resolver.compress_ipv6_addr'
    'body':': compressed = resty.dns.resolver.compress_ipv6_addr(address)'
  'resty.dns.resolver.expand_ipv6_addr':
    'prefix':'resty.dns.resolver.expand_ipv6_addr'
    'body':': expanded = resty.dns.resolver.expand_ipv6_addr(address)'
  'resty.dns.resolver.arpa_str':
    'prefix':'resty.dns.resolver.arpa_str'
    'body':': arpa_record = resty.dns.resolver.arpa_str(address)'
  'r:reverse_query':
    'prefix':'r:reverse_query'
    'body':': answers, err = r:reverse_query(address)'
  'TYPE_A':
    'prefix':'TYPE_A'
    'body':'TYPE_A'
  'TYPE_NS':
    'prefix':'TYPE_NS'
    'body':'TYPE_NS'
  'TYPE_CNAME':
    'prefix':'TYPE_CNAME'
    'body':'TYPE_CNAME'
  'TYPE_SOA':
    'prefix':'TYPE_SOA'
    'body':'TYPE_SOA'
  'TYPE_PTR':
    'prefix':'TYPE_PTR'
    'body':'TYPE_PTR'
  'TYPE_MX':
    'prefix':'TYPE_MX'
    'body':'TYPE_MX'
  'TYPE_TXT':
    'prefix':'TYPE_TXT'
    'body':'TYPE_TXT'
  'r.TYPE_AAAA':
    'prefix':'r.TYPE_AAAA'
    'body':': typ = r.TYPE_AAAA'
  'r.TYPE_SRV':
    'prefix':'r.TYPE_SRV'
    'body':': typ = r.TYPE_SRV'
  'r.TYPE_SPF':
    'prefix':'r.TYPE_SPF'
    'body':': typ = r.TYPE_SPF'
  'r.CLASS_IN':
    'prefix':'r.CLASS_IN'
    'body':': class = r.CLASS_IN'
  'r.SECTION_AN':
    'prefix':'r.SECTION_AN'
    'body':': stype = r.SECTION_AN'
  'r.SECTION_NS':
    'prefix':'r.SECTION_NS'
    'body':': stype = r.SECTION_NS'
  'r.SECTION_AR':
    'prefix':'r.SECTION_AR'
    'body':': stype = r.SECTION_AR'
