'source.lua':
  'require resty.balancer':
    'prefix':'require resty.balancer'
    'body':'local balancer = require "resty.balancer"'
  'new':
    'prefix':'new'
    'body':'new'
  'reinit':
    'prefix':'reinit'
    'body':'reinit'
  'set':
    'prefix':'set'
    'body':'set'
  'delete':
    'prefix':'delete'
    'body':'delete'
  'incr':
    'prefix':'incr'
    'body':'incr'
  'decr':
    'prefix':'decr'
    'body':'decr'
  'find':
    'prefix':'find'
    'body':'find'
  'next':
    'prefix':'next'
    'body':'next'
