'source.lua':
  'require resty.limit.conn':
    'prefix':'require resty.limit.conn'
    'body':'local conn = require "resty.limit.conn"'
  'new':
    'prefix':'new'
    'body':'new'
  'incoming':
    'prefix':'incoming'
    'body':'incoming'
  'is_committed':
    'prefix':'is_committed'
    'body':'is_committed'
  'leaving':
    'prefix':'leaving'
    'body':'leaving'
  'set_conn':
    'prefix':'set_conn'
    'body':'set_conn'
  'set_burst':
    'prefix':'set_burst'
    'body':'set_burst'
  'uncommit':
    'prefix':'uncommit'
    'body':'uncommit'
  'Out-of-Sync Counter Prevention':
    'prefix':'Out-of-Sync Counter Prevention'
    'body':'Out-of-Sync Counter Prevention'
